openapi: 3.1.0
info:
  title: Bindbee Departments API
  description: Organizational departments from connected HRIS and ATS systems Operations copied verbatim from the Bindbee
    unified API contract published at https://api.bindbee.dev/openapi.json.
  version: 0.1.0
  contact:
    name: Bindbee Support
    email: support@bindbee.dev
    url: https://docs.bindbee.dev/
servers:
- url: https://api.bindbee.dev
  description: Bindbee global API
- url: https://api-eu.bindbee.dev
  description: Bindbee EU API
tags:
- name: Department
  description: Organizational departments from connected HRIS and ATS systems
paths:
  /api/ats/v1/departments:
    get:
      tags:
      - Department
      summary: Get Departments
      description: Returns a list of Department objects.
      operationId: get_departments_api_ats_v1_departments_get
      security:
      - HTTPBearer: []
      parameters:
      - name: ids
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The ID of the departments to fetch
          examples:
          - 01931edf-04b6-7391-8a5c-93ac4b395316,01931edf-04c8-7649-a470-d85f6161bd1a
          title: Ids
        description: The ID of the departments to fetch
      - name: include_raw_data
        in: query
        required: false
        schema:
          type: boolean
          description: Include raw data in the response
          examples:
          - false
          default: false
          title: Include Raw Data
        description: Include raw data in the response
      - name: include_custom_fields
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to include custom fields in the response.
          examples:
          - false
          default: false
          title: Include Custom Fields
        description: Whether to include custom fields in the response.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: Number of results to return per page. Maximum size is 200.
          default: 50
          title: Page Size
        description: Number of results to return per page. Maximum size is 200.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The pagination cursor value.
          title: Cursor
        description: The pagination cursor value.
      - name: modified_after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime
            (ISO 8601). If no timezone offset is supplied, the value is interpreted as UTC.'
          examples:
          - '2024-02-21T21:22:12.993Z'
          title: Modified After
        description: 'If provided, only objects synced by Bindbee after this date time will be returned. Format: DateTime
          (ISO 8601). If no timezone offset is supplied, the value is interpreted as UTC.'
      - name: x-connector-token
        in: header
        required: true
        schema:
          type: string
          title: X-Connector-Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_AtsDepartment_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Missing or invalid bearer authentication credentials.
          headers:
            WWW-Authenticate:
              description: Bearer authentication challenge.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The credentials are valid but do not permit access to this resource, e.g. a connector token used on
            a different API category or a model whose writes are disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              description: Maximum requests allowed in the current window.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) at which the current rate-limit window resets.
              schema:
                type: integer
            Retry-After:
              description: Seconds to wait before retrying the request.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Department
      summary: Create Department
      description: Creates a Department object with the given values.
      operationId: create_department_api_ats_v1_departments_post
      security:
      - HTTPBearer: []
      parameters:
      - name: x-connector-token
        in: header
        required: true
        schema:
          type: string
          title: X-Connector-Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                title: Response Create Department Api Ats V1 Departments Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Missing or invalid bearer authentication credentials.
          headers:
            WWW-Authenticate:
              description: Bearer authentication challenge.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The credentials are valid but do not permit access to this resource, e.g. a connector token used on
            a different API category or a model whose writes are disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              description: Maximum requests allowed in the current window.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) at which the current rate-limit window resets.
              schema:
                type: integer
            Retry-After:
              description: Seconds to wait before retrying the request.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/ats/v1/departments/{id}:
    get:
      tags:
      - Department
      summary: Get Department By Id
      description: Returns a Department object with the given id.
      operationId: get_department_by_id_api_ats_v1_departments__id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      - name: include_raw_data
        in: query
        required: false
        schema:
          type: boolean
          description: Include raw data in the response
          examples:
          - false
          default: false
          title: Include Raw Data
        description: Include raw data in the response
      - name: include_custom_fields
        in: query
        required: false
        schema:
          type: boolean
          description: Whether to include custom fields in the response.
          examples:
          - false
          default: false
          title: Include Custom Fields
        description: Whether to include custom fields in the response.
      - name: x-connector-token
        in: header
        required: true
        schema:
          type: string
          title: X-Connector-Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsDepartment'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Missing or invalid bearer authentication credentials.
          headers:
            WWW-Authenticate:
              description: Bearer authentication challenge.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The credentials are valid but do not permit access to this resource, e.g. a connector token used on
            a different API category or a model whose writes are disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              description: Maximum requests allowed in the current window.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix timestamp (seconds since epoch) at which the current rate-limit window resets.
              schema:
                type: integer
            Retry-After:
              description: Seconds to wait before retrying the request.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
  schemas:
    AtsDepartment:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          examples:
          - 018b18ef-c487-703c-afd9-0ca478ccd9d6
        remote_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Remote Id
          description: The third-party API ID of the matching object.
          examples:
          - '123321'
        modified_at:
          type: string
          format: date-time
          title: Modified At
          description: This is the datetime that this object was last updated by Bindbee
          examples:
          - '2021-10-16T00:00:00Z'
        raw_data:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Raw Data
          description: This is the Raw data
          examples:
          - key_1: Platform dependent data 1
            key_2: Platform dependent data 2
        custom_fields:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Custom Fields
          description: The custom fields related to the model
          examples:
          - category_group: REG
            disability_type: ASBERG
            hire_date: '1991-03-16T00:00:00'
            hire_source: REFER
            nationality: USA
            original_hire_date: '1991-03-16T00:00:00'
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: The name of the department.
          examples:
          - Engineering
      type: object
      required:
      - id
      - remote_id
      - modified_at
      - custom_fields
      - name
      title: AtsDepartment
      description: The AtsDepartment object represents a department within the company in the ATS.
    ErrorResponse:
      type: object
      required:
      - detail
      properties:
        detail:
          type: string
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PaginatedResponse_AtsDepartment_:
      properties:
        cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
          description: Cursor value to fetch next set of items
          examples:
          - MDE4YjE4ZWYtYzk5Yy03YTg2LTk5NDYtN2I3YzlkNTQzM2U1
        page_size:
          type: integer
          title: Page Size
          description: Indicates the count of items in the response
          examples:
          - 50
        items:
          items:
            $ref: '#/components/schemas/AtsDepartment'
          type: array
          title: Items
          description: List of items in the current response
      type: object
      required:
      - cursor
      - page_size
      - items
      title: PaginatedResponse[AtsDepartment]
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
x-provenance:
  method: derived
  source: openapi/_original/bindbee-openapi.json
  source_url: https://api.bindbee.dev/openapi.json
  generated: '2026-09-04'
  note: Operations, parameters, responses and schemas copied verbatim from the provider-published OpenAPI at https://api.bindbee.dev/openapi.json
    (fetched 2026-09-04, HTTP 200). Only the tag filter, the info block and the servers[] block were authored here; servers[]
    are the two hosts the provider publishes on https://docs.bindbee.dev/api-reference/basics/pagination.
